
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	border-top: 1px solid rgb(187, 185, 185);
}

#footer-main {
	padding-top: 4rem;
}

#footer-bottom {
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;

	p {
		color: $dark;
		line-height: 2;
		z-index: 1;	
		font-size: 0.875rem;
		margin: 0;
	}
}

