
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

#contact-info {
	label {
		color: #a2a2a2;
		display: block;
	}

	a {
		&:after {
			left: 5rem;
		}
	}
}