.testimonial {
    .testimonial-image {
        img {
            width: 100%;
            height: auto;
        }
    }

    .testimonial-title {
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }
}